ErrorDocument 404 404.php

RewriteEngine on

RewriteRule ^Login login.php [NE,L]
RewriteRule ^Logout logout.php [NE,L]
RewriteRule ^Register register.php [NE,L]
RewriteRule ^Insert insert.php [NE,L]
RewriteRule ^Home index.php [NE,L]
RewriteRule ^Employee employee.php [NE,L]
RewriteRule ^Course course.php [NE,L]
RewriteRule ^Batch batch.php [NE,L]
RewriteRule ^Admission admission.php [NE,L]
RewriteRule ^Confirm-Admission confirm_admission.php [NE,L]
RewriteRule ^Receive-Money receive_money.php [NE,L]
RewriteRule ^Registration-Form register_form.php [NE,L]
RewriteRule ^Student-List student_list.php [NE,L]
RewriteRule ^Money-Slip money_slip.php [NE,L]
RewriteRule ^Expense expense.php [NE,L]
RewriteRule ^Profile profile.php [NE,L]